/* 글꼴 - 웹폰트(SUIT Variable) */
body {
  font-family: 'SUIT Variable', sans-serif;
}

/* 글자 크기 */
.unit {
  font-size: 0.625rem;
}

.like {
  background-color: #ffc;
  /* px 단위 */
  font-size: 20px;
  /* rem 단위 */
  font-size: 2rem;
  /* em 단위 */
  font-size: 2.5em;
  /* vw 단위 */
  font-size: 5vw;
  /* vw 단위 & clamp() */
  font-size: clamp(1rem, 2.5vw, 2rem);
}

/* 글자 굵기 */
.lion {
  font-size: 20px;
  font-weight: 700;
}

/* 글자 스타일 */
.euid {
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
}

/* 글자 간격 또는 단어 간격 */
.school {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 4px;
  word-spacing: 20px;
}
