/* static 값 - 대다수 요소의 기본 값 */

/* relative 값 - 상대 위치 */
/* position: relative를 활용하여 상자 그림자 스타일링 */
.shadow {
  margin-block: 10px;
  background-color: black;
}

h3 {
  padding: 10px;
  background-color: #ffc;
  position: relative;
  top: -5px;
  left: -5px;
}

/* absolute 값 - 절대 위치 */
.wrapper {
  padding: 20px;
  border: 1px solid green;
  position: relative;
}

.wrapper h1 {
  padding: 20px;
  border: 1px solid red;
}

.wrapper h1 span {
  background-color: #fcf;
  position: absolute;
  width: 100px;
  bottom: 0;
  right: 0;
  font-size: 14px;
}

/* fixed 값 - 뷰포트 기준 고정 위치 */
h2 {
  background-color: #cfc;
}

h2 span {
  background-color: #ccf;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10;
}
