.like,
.lion,
.euid {
  border: 1px solid red;
  padding: 10px;

  div {
    inline-size: 100px;
    block-size: 50px;
    border: 1px solid black;
    text-align: center;
    align-content: center;
  }

  div:nth-child(1) {
    /* rgba() 함수 */
    background: rgba(255, 255, 0, 0.5);
    background: rgba(255, 255, 0, 1);
  }

  div:nth-child(2) {
    /* rgb() 함수 + 투명도 */
    background: rgb(0 122 127 / 0.2);
    background: rgb(0 122 127 / 1);
  }

  div:nth-child(3) {
    /* 16진수 + 투명도 */
    background: #00ff3322;
    background: #00ff33ff;
  }

  div:nth-child(4) {
    /* 키워드 */
    background: pink;
  }

  div:nth-child(5) {
    /* hsla() 함수 */
    background: hsla(270, 50%, 50%, 0.5);
    background: hsla(270, 50%, 50%, 1);
  }
}

/* z-index 속성 */
.like {
  position: relative;
  block-size: 100px;

  div {
    position: absolute;
  }

  .like-item1 {
    z-index: 2;
    inset: 20px auto auto 20px;
  }

  .like-item3 {
    z-index: 1;
    inset: 30px auto auto 30px;
  }
}

/* flex + z-index + margin(음수) */
.lion {
  display: flex;
  flex-flow: nowrap row;

  div {
    block-size: 100px;
    border-radius: 50%;
  }

  div:nth-child(n + 2) {
    margin-inline-start: -30px;
  }

  div:hover {
    z-index: 1;
  }
}

.euid {
  div:nth-child(n + 2) {
    margin-block-start: -20px;
  }

  div.euid-item4 {
    opacity: 0.9;
    background: red;
    z-index: 2;
  }

  div.euid-item5 {
    opacity: 0.9;
    z-index: 1;
  }
}

/* isolation 속성 */
.bootcamp {
  border: 1px solid green;
  position: relative;
  block-size: 250px;
  background: yellow;
  isolation: isolate;

  img {
    position: absolute;
    inset: 0 auto auto 0;
    z-index: -1;
  }

  p {
    font-size: 24px;
    color: #00f;
    font-weight: 700;
  }
}
