/* 마스크 애니메이션 (SVG 이미지 활용) */
.like {
  inline-size: max-content;
  block-size: 100px;
  padding: 20px;
  align-content: center;
  color: #000;
  background: #ff000033;
  mask-image: url(/src/assets/svg/circle.svg);
  mask-repeat: no-repeat;
  mask-position: 0 0;
  transition: all 2s ease-in-out;

  &:hover {
    mask-position: 100% 0;
  }
}

/* 마스크를 활용한 더보기 링크(linear-gradient 활용) */
.lion {
  background: var(--yellow);
  inline-size: 400px;
  block-size: 100px;
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  justify-content: space-evenly;

  .more {
    inline-size: 64px;
    aspect-ratio: 1/1;
    background: #777;
    mask-image: linear-gradient(to bottom, transparent 0 45%, #000 45% 55%, transparent 55% 100%), linear-gradient(to right, transparent 0 45%, #000 45% 55%, transparent 55% 100%);
  }
}
