/* 컴포넌트 */
.avatar {
  --size: 64px;
  --border: var(--white, #fff);
  --online: var(--avatar-green, #03cc5c);
  --offline: var(--avatar-gray, #bcc3c7);

  position: relative;
  border: 0;
  padding: 0;
  background: transparent;
  width: var(--size);
  height: var(--size);

  img {
    border-radius: 50%;
  }

  .state {
    --size: 25%;

    position: absolute;
    right: 0;
    bottom: 0;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 1px solid var(--border);
  }

  &.online {
    .state {
      background: var(--online);
    }
  }

  &.offline {
    .state {
      background: var(--offline);
    }
  }
}

/* 레이아웃 */
.avatars {
  border: 1px solid currentColor;
  display: flow-root;
  padding: 10px 30px;
  width: 398px;

  .avatar {
    float: left;
    margin: 10px;
  }
}
