/* 컴포넌트 */
.avatar {
  --size: 64px;
  --border: var(--white, #fff);
  --online: var(--avatar-green, #03cc5c);
  --offline: var(--avatar-gray, #bcc3c7);

  position: relative;
  border: 0;
  padding: 0;
  background: transparent;
  width: var(--size);
  height: var(--size);

  img {
    border-radius: 50%;
  }

  .state {
    --size: 25%;

    position: absolute;
    right: 0;
    bottom: 0;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 1px solid var(--border);
  }

  &.online {
    .state {
      background: var(--online);
    }
  }

  &.offline {
    .state {
      background: var(--offline);
    }
  }
}

/* 레이아웃 */
.avatars {
  --avatar-size: 64px;
  --avatar-margin: 10px;
  --container-inline-padding: 30px;
  --container-block-padding: 10px;
  --count: 4;

  /* 1개 아바타가 차지하는 공간 = 아바타 크기 + 좌우 마진 */
  --item-width: calc(var(--avatar-size) + (var(--avatar-margin) * 2));

  /* 전체 너비 = (아이템 공간 * 개수) + 컨테이너 좌우 패딩 */
  --size: calc((var(--item-width) * var(--count)) + (var(--container-inline-padding) * 2));

  display: flow-root;
  padding: var(--container-block-padding) var(--container-inline-padding);
  width: var(--size);
  box-shadow: 0 0 0 1px currentColor;

  .avatar {
    --size: var(--avatar-size);

    float: left;
    margin: var(--avatar-margin);
  }
}
