@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
:root {
  --green-100: #03cc5c;
  --green-200: #1bf008;
  --green-300: #03cca8;

  --gray-100: #bcc3c7;
  --gray-200: #9b9a90;
  --gray-300: #6d7478;

  --start-color: var(--green-200);
  --end-color: var(--green-300);
}
/* 컴포넌트 */
/* 텍스트 로고 */
.text-logo {
  --text-size: 34.7504px;

  display: inline-flex;
  flex-flow: nowrap row;
  /* a 요소의 크기가 영문 스펠링 영역만큼만 적용되도록 가로 크기를 글자크기의 70%로 지정 */
  inline-size: calc(var(--text-size) * 0.7);

  .text {
    /* 글자 일부가 잘리지 않도록 하려면 글자 크기와 동일한 상자 크기 지정이 필요 */
    /* .text 영역은 플렉스 아이템이기때문에 inline-size 지정이 가능함. */
    inline-size: var(--text-size);
    line-height: 0.7;
    font-size: var(--text-size);
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    /* 텍스트 상자 배경에 그라디언트 효과 지정 */
    background: linear-gradient(to bottom, var(--start-color), var(--end-color));
    /* 그라디언트 영역을 텍스트 영역으로 잘라내기 */
    background-clip: text;
    /* 글자 색상을 투명하게 설정하여 텍스트 뒤쪽 그라디언트 색상이 보이도록 하기 */
    color: transparent;
    /* 텍스트 위치를 X축으로 -2px 이동 */
    /* translate 속성으로 사용 (transform 속성에서 함수로도 사용할 수 있음) */
    translate: -2px 0;
  }
}

/* SVG 로고 */
.logo {
  inline-size: 24px;
  aspect-ratio: 1/1;
  display: block;
}

/* 입력 서식 */
.form-input {
  input[type='search'] {
    min-inline-size: 0;
    inline-size: 100%;
    block-size: 28px;
    font-size: 0.875em;
    padding: 2px 0.5em;
    border: 1px solid var(--gray-300);

    /* WCAG - Focus 상태 디자인 */
    &:focus {
      outline: 1px solid var(--green-300);
      outline-offset: 2px;
    }

    /* 읽기 전용 상태 디자인 */
    &:read-only,
    &[readonly] {
      background: var(--gray-100);
    }

    /* 비활성화 상태 디자인 */
    &:disabled,
    &[disabled] {
      background-color: var(--gray-100);
      color: red;
    }
  }
}

/* 검색 버튼 */
.button-circle {
  background: var(--green-100) linear-gradient(var(--start-color), var(--end-color));
  inline-size: 24px;
  aspect-ratio: 1/1;
  border: 0;
  padding: 0;
  border-radius: 50%;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inline-size: 30%;
    aspect-ratio: 1/1;
    background: #fff;
    border-radius: 50%;
    inset: 50% auto auto 50%;
    /* transform 속성에서 translate를 함수로 사용 */
    transform: translate(-50%, -50%);
  }
}

/* 레이아웃 */
.search-bar {
  --border-color: var(--green-100);

  border: 1px solid var(--border-color);
  border-radius: 50px;
  padding: 12px 12px 12px 20px;
  display: flex;
  flex-flow: nowrap row;
  justify-content: start;
  align-items: center;
  column-gap: 12px;

  &:focus-within {
    box-shadow: 0 4px 4px 0 rgba(68, 131, 63, 0.15);
  }

  &:has(:focus) {
    box-shadow: 0 4px 4px 0 rgba(68, 131, 63, 0.15);
  }

  .search-form {
    background: yellow;
    display: contents;
  }

  .text-logo,
  .button-circle {
    flex: none;
  }

  .form-input {
    flex: 1;
    margin-inline-end: 4px;

    input[type='search'] {
      border: 0;

      &:focus {
        outline: 0;
      }
    }
  }
}
