html,
body {
  block-size: 100%;
}

/* 플렉스 레이아웃 */
/* 컨테이너 */
.container {
  background: var(--yellow);
  block-size: 80%;
  display: flex;
  flex-flow: column nowrap;

  @media (width >= 1025px) {
    flex-flow: wrap row;
    align-content: start;
  }
}

/* 헤더 */
.header {
  background: var(--pink);
  block-size: 50px;

  @media (width >= 1025px) {
    inline-size: 100%;
  }
}

/* 내비게이션 */
.navigation {
  background: var(--mint);
  block-size: 50px;

  @media (width >= 1025px) {
    inline-size: 100%;
  }
}

/* 메인 */
.main {
  background: var(--orange);
  flex: 1;

  @media (767px >= width >= 481px) {
    display: flex;
    flex-flow: nowrap row;
    align-items: stretch;

    .euid,
    .likelion {
      flex: 1;
      block-size: auto;
    }
  }

  @media (width >= 1025px) {
    display: contents;
    flex: initial;

    .euid,
    .likelion {
      inline-size: 30%;
      block-size: calc(100% - 150px);
    }
  }
}

/* 섹션 */
.euid,
.likelion {
  background: var(--aqua);
  block-size: 50%;
}

/* 사이드바 */
.sidebar {
  background: var(--lavender);
  block-size: 100px;

  @media (width >= 1025px) {
    inline-size: 40%;
    block-size: auto;
  }
}

/* 푸터 */
.footer {
  background: var(--gray);
  block-size: 50px;

  @media (width >= 1025px) {
    inline-size: 100%;
  }
}
