/* 유틸리티 바 */
/* float 속성을 활용한 레이아웃 */
.utility-bar.float {
  font-size: 14px;
  line-height: 1.5;
  display: flow-root;
  text-transform: uppercase;
  width: 367px;

  li {
    float: left;
  }

  a {
    padding: 8px;
    float: left;
  }

  span {
    margin: 8px;
    float: left;
  }
}

/* inline-block 값을 활용한 레이아웃 */
.utility-bar.inline-block {
  font-size: 0;
  line-height: 1.5;
  text-transform: uppercase;
  width: 367px;

  li {
    display: inline-block;
    font-size: 14px;
  }

  a {
    padding: 8px;
    display: inline-block;
  }

  span {
    margin: 8px;
    display: inline-block;
  }
}
